---
import { Code } from "astro:components";
import FullScreenLayout from "@layouts/FullScreenLayout.astro";
import { Icon } from "astro-icon/components";
---

<FullScreenLayout title="Color Validator">
  <div class="page-layout">
    <div class="headings">
      <h1>Board Game Data Tools</h1>
      <h2>Data analytics for recorded plays at BoardGameGeek</h2>
      <div class="flex align-center gap-4 text-2xl">
        <a
          class="text-2xl"
          href="https://www.bgdatatools.com/acciopatronus"
          target="_blank"
          rel="noopener noreferrer"><Icon name="tabler:meeple" /></a
        >
        <a
          class="text-2xl"
          href="https://github.com/zapbampow/bg-data-tools"
          target="_blank"
          rel="noopener noreferrer"
          ><Icon name="tabler:brand-github-filled" /></a
        >
      </div>
    </div>

    <p>
      While working on another project I needed a way to check whether some text
      was a valid CSS color. I was working with a variety of colors, including
      oklch. I couldn't find anything that included oklch in their validations.
    </p>

    <p>
      "Just a little regex should do," I thought. I ended up going down a rabbit
      hole of all the variations for each type of CSS color: named, hex, rgb,
      hsl, lch, etc. This was the product of that rabbit hole.
    </p>

    <p>Looking at just hsl, there are a bunch of valid patterns.</p>
  </div>
</FullScreenLayout>

<style>
  .headings {
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 1.5rem;
      color: var(--text);
    }
  }

  .page-layout {
    margin-block: 10rem;
    display: grid;
    gap: 1.5rem;

    pre {
      padding-inline: 2rem;
    }
  }

  /* breakout grid */
  .page-layout > *,
  .full-width > * {
    grid-column: content;
  }
  .page-layout,
  .full-width {
    --minimum-content-padding: 1rem;

    /** TRACK WIDTHS **/
    --full-max-width: 1fr;
    --popout-max-width: 900px;
    --content-max-width: 650px;
    --inset-content-max-width: 500px;

    /** TRACK SIZES **/
    --full: minmax(var(--minimum-content-padding), 1fr);
    --popout: minmax(
      0,
      calc((var(--popout-max-width) - var(--content-max-width)) * 0.5)
    );
    --content: minmax(
      0,
      calc((var(--content-max-width) - var(--inset-content-max-width)) * 0.5)
    );
    --inset-content: min(
      var(--inset-content-max-width),
      100% - var(--minimum-content-padding) * 2
    );

    display: grid;
    grid-template-columns:
      [full-start]
      var(--full)
      [popout-start]
      var(--popout)
      [content-start]
      var(--content)
      [inset-content-start]
      var(--inset-content)
      [inset-content-end]
      var(--content)
      [content-end]
      var(--popout)
      [popout-end]
      var(--full)
      [full-end];
  }

  /** CLASSES **/
  .page-layout .full {
    grid-column: full;
  }
  .page-layout .full-start {
    grid-column-start: full-start;
  }
  .page-layout .full-end {
    grid-column-end: full-end;
  }

  .page-layout .popout {
    grid-column: popout;
  }
  .page-layout .popout-start {
    grid-column-start: popout-start;
  }
  .page-layout .popout-end {
    grid-column-end: popout-end;
  }

  .page-layout .content {
    grid-column: content;
  }
  .page-layout .content-start {
    grid-column-start: content-start;
  }
  .page-layout .content-end {
    grid-column-end: content-end;
  }

  .page-layout .inset-content {
    grid-column: inset-content;
  }
  .page-layout .inset-content-start {
    grid-column-start: inset-content-start;
  }
  .page-layout .inset-content-end {
    grid-column-end: inset-content-end;
  }

  .page-layout .full-width {
    grid-column: full;
  }
  .page-layout .full-content,
  .full-content-nopad {
    grid-column: full;
  }
  .page-layout .full-content {
    padding-inline: var(--minimum-content-padding);
  }
</style>
