---
import FullScreenLayout from "@layouts/FullScreenLayout.astro";

const allPosts = await Astro.glob("../posts/*.md");
const allTags = allPosts.flatMap((post) => post.frontmatter.tags);
const uniqueTags = Array.from(new Set(allTags));
---

<FullScreenLayout title="Tags">
  <ul>
    {
      uniqueTags.map((tag) => (
        <li>
          <a href={`/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
</FullScreenLayout>
