---
import AboutMe from "@components/about/AboutMe.astro";
import FullScreenLayout from "../layouts/FullScreenLayout.astro";
import History from "@components/about/History.astro";
---

<FullScreenLayout title="About">
  <div class="container">
    <AboutMe />
    <History />
  </div>
</FullScreenLayout>

<style>
  .container {
    position: relative;
    display: grid;
    gap: 6rem;
    margin: 0 auto;
  }

  p {
    line-height: 2rem;
  }

  @media screen and (min-width: 1024px) {
    .container {
      grid-template-columns: 1fr 1.1fr;
      max-width: clamp(800px, 80%, 1024px);
    }
  }

  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1024px;
    }
  }
</style>
