---
import FullScreenLayout from "@layouts/FullScreenLayout.astro";
import { getCollection } from "astro:content";

const isDev = import.meta.env.DEV;

const posts = await getCollection("articles");
const publishedPosts = posts.filter((post) =>
  isDev ? true : post.data.status === "published"
);
const pageTitle = "My Astro Learning Blog";
---

<FullScreenLayout title={pageTitle}>
  <ul>
    {
      publishedPosts.map((post) => (
        <li>
          <a href={`/articles/${post.slug}`}>
            <h2>{post.data.title}</h2>
          </a>
        </li>
      ))
    }
  </ul>
</FullScreenLayout>

<style>
  ul {
    margin-block: 10rem;
  }
</style>
