---
import BlogPost from "../components/BlogPost.astro";
import FullScreenLayout from "@layouts/FullScreenLayout.astro";
const allPosts = await Astro.glob("./posts/*.md");
const pageTitle = "My Astro Learning Blog";
---

<FullScreenLayout title={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <BlogPost url={post.url} post={post.frontmatter} />
        </li>
      ))
    }
  </ul>
</FullScreenLayout>
