---
import BlogPost from "../components/BlogPost.astro";
import FullScreenLayout from "@layouts/FullScreenLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
const pageTitle = "My Astro Learning Blog";
---

<FullScreenLayout title={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}`}>
            <h2>{post.data.title}</h2>
          </a>
        </li>
      ))
    }
  </ul>
</FullScreenLayout>
