---
import { UnsocialSchema } from "@content/config.ts";
import { z } from "astro:content";
import dayjs from "dayjs";

type Data = z.infer<typeof UnsocialSchema>;
type Props = { data: Data };

const {
  data: { publishedAt, image },
} = Astro.props;
const date = dayjs(publishedAt).format("MMM D, YYYY");
---

<article>
  <div class="photo-content">
    <img src={image?.url} alt={image?.alt} />
    <div class="photo-comment">
      <slot />
      <p class="publishedDate">{date}</p>
    </div>
  </div>
</article>

<style></style>
