/* Blog Layout */
.blog-layout.photo.unsocial-feed,
.blog-layout.comment.unsocial-feed,
.blog-layout.article.unsocial-feed,
.blog-layout.link.unsocial-feed {
    row-gap: 2rem;

    >* {
        padding-block: 1rem;
    }

}

/* ELEMENTS */
.comment,
.photo,
.article-preview,
.article {
    --radius: 6px;
    --content-bg: hsl(0 0% 100% / .75);
    --content-text: #331c51;
    --box-shadow: 3px 3px var(--accent);
}

.unsocial-feed article {
    position: relative;

    &:before {
        content: "";
        width: calc(100% + 2rem);
        height: calc(100%);
        position: absolute;
        top: 0;
        left: -1rem;
        border-radius: 1rem;
        background-color: hsl(0 0% 100% / 0.05);
        border-top: 1px solid hsl(0 0% 100% / 0.1);
        opacity: 1;
        z-index: -1;
        transition: opacity 0.3s ease-in-out;
    }

    .publishedDate {
        color: var(--text-faded);
    }

    img {
        border-radius: var(--radius);
    }
}


/* COMMENT AND PHOTO TEXT CONTAINER */
.comment-content,
.photo-comment {
    & * {
        color: var(--text);
    }

    .date,
    .publishedDate {
        font-size: .75rem;
        text-align: right;
    }
}

/* COMMENT */
.comment-content {
    border-radius: var(--radius);
}

/* PHOTO */
.photo {
    .photo-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    img {
        width: 100%;
        border-top-left-radius: var(--radius);
        border-top-right-radius: var(--radius);
        grid-column: popout;
    }

    p:not(.date) {
        font-weight: 500;
    }

    .photo-comment {
        border-bottom-left-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
    }

}

/* ARTICLE PREVIEW*/
.article-preview {
    display: grid;
    grid-template-columns: 2fr 3fr;

    .image-wrapper {
        width: 100%;


        img {
            border-radius: var(--radius);
            object-fit: cover;
        }
    }

    .article-summary {
        display: flex;
        flex-direction: column;
        padding: .5rem 1rem;

        .publishedDate {
            font-size: .75rem;
        }

        h2 {
            position: relative;
            font-size: 1.5rem;
            font-weight: 700;
        }

        .article-tags {
            display: flex;
            gap: .5rem;
            margin-block-start: .25rem;

            li {
                font-size: .75rem;
                border: 1px solid var(--text);
                padding: 0 .75rem;
                border-radius: 1rem;
                color: var(--text-faded);
            }
        }

        .article-description {
            display: none;
        }


    }

    .read-btn {
        position: relative;
        left: 4px;
        margin-block-start: auto;
        border: 1px solid var(--text);
        padding: .25rem 1rem;
        width: fit-content;
        font-size: 1rem;
        border-radius: 4px;
        margin-left: -4px;
        box-shadow: var(--box-shadow);
        transition: all .1s ease;

        &:active {
            transform: translate(4px, 4px);
            box-shadow: 0 0 var(--accent);
        }
    }

}

@container articlePreview (max-width: 680px) {
    .article-preview {
        grid-template-columns: 1fr;

        .article-summary {
            padding-inline: 0;

            .article-description {
                display: block;
                margin-block-start: .5rem;
            }
        }

        .read-btn {
            margin-block-start: 1rem;
        }
    }

}

/* ARTICLE */
.article-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .publishedDate {
        font-size: .75rem;
    }

    h2 {
        position: relative;
        font-size: 3rem;
        font-weight: 700;
    }

    h2:before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        max-width: 8ch;
        height: 2px;
        background-color: var(--accent);
    }
}