---
import dayjs from 'dayjs';
import Flex from './style/Flex.astro';

const {url, post: { title, published,  description } } = Astro.props;
---

<a href={url}>
    <Flex as="article" gap=".5rem" align="center" >
        <div class="stack">
            <div>{dayjs(published).format("MMM")}</div>
            <div>{dayjs(published).format("DD")}</div>
        </div>
        
        <div class="stack">
            <h2>{title}</h2>
            <p>{description}</p>
        </div>
    </>
</a>

<style>
    .gap {
        gap: 1rem;
    }
</style>