---
import { Icon } from "astro-icon/components";
import VisibleGrid from "./VisibleGrid.astro";
const social = [
  {
    name: "GitHub",
    url: "https://www.github.com/zapbampow",
    icon: "brand-github",
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/claytoningalls",
    icon: "brand-linkedin",
  },
];
---

<footer>
  <ul>
    {
      social.map(({ name, url, icon }, index) => (
        <li>
          <a href={url} target="_blank">
            <Icon name={`tabler:${icon}`} stroke-linecap="butt" />
          </a>
          {index === 0 && (
            <div class="grid-wrapper">
              <VisibleGrid
                columns={30}
                rows={12}
                maskGradient="radial-gradient(closest-side, black 20%, transparent)"
                opacity={0.15}
              />
            </div>
          )}
        </li>
      ))
    }
  </ul>
</footer>

<style>
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    overflow: clip;
    z-index: 100;
  }

  footer ul {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    list-style: none;
    padding: 0;
    z-index: 10;
  }

  footer li {
    position: relative;
    padding: 0;
    margin: 0;
  }
  footer a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.25rem;
    font-size: 2rem;
    color: white;
    text-decoration: none;
  }
  footer a:hover {
    text-decoration: underline;
  }
  .grid-wrapper {
    position: absolute;
    top: -70px;
    left: -150px;
    transform: rotate(180deg);
    z-index: -1;
    pointer-events: none;
  }
</style>
