---
import Navigation from "./Navigation.astro";
---

<header>
  <nav aria-label="main navigation">
    <Navigation />
  </nav>
</header>

<script>
  // function checkForMainScrollbar() {
  //   const main = document.querySelector("main");
  //   if (!main || !main.scrollHeight || !main?.clientHeight) return;

  //   const hasScrollBar = main?.scrollHeight > main?.clientHeight;
  //   if (hasScrollBar) {
  //     console.log("hit");
  //     main.classList.add("has-scrollbar");
  //   }
  // }

  // window.onload = () => {
  //   checkForMainScrollbar();
  // };
</script>

<style>
  header {
    position: relative;
    width: 100%;
    overflow-x: clip;
  }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  header:has(~ main.has-scrollbar) nav {
    padding-right: 1rem;
  }
</style>
