---
import Navigation from "./Navigation.astro";
---

<header>
  <nav>
    <Navigation />
  </nav>
</header>

<script>
  window.addEventListener("scroll", () => {
    const header = document.querySelector("header");
    // header?.classList.toggle('sticky', window.scrollY > 100);
  });
</script>

<style>
  header {
    position: relative;
    width: 100%;
    overflow-x: clip;
  }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  /* header.sticky {
        position: sticky;
        top: 0;
        left: 0;
        background: hsla(0 0% 0%);
    } */
</style>
