---
import { Icon } from "astro-icon/components";
import VisibleGrid from "./VisibleGrid.astro";
---

<ul>
  <li>
    <a class="home" href="/"
      ><Icon name={`tabler:home`} stroke-linecap="butt" /></a
    >
    <div class="top-left-grid">
      <VisibleGrid
        columns={40}
        rows={50}
        maskGradient="linear-gradient(105deg, black 70%, transparent)"
      />
    </div>
  </li>
  <li>
    <a href="/about/">About</a>
    <div class="top-right-grid">
      <VisibleGrid
        columns={60}
        rows={20}
        maskGradient="radial-gradient(closest-side, black 5%, transparent)"
      />
    </div>
  </li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/tags/">Tags</a></li>
</ul>

<style>
  ul {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    list-style: none;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1280px;
    font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
      Consolas, "DejaVu Sans Mono", monospace;
    z-index: 100;
  }

  li {
    padding: 0;
    position: relative;
  }

  li:first-child {
    margin-inline-end: auto;
  }

  li a {
    text-decoration: none;
    color: inherit;
  }
  li a:not(.home) {
    padding: 0 1rem;
  }

  .top-right-grid {
    position: absolute;
    top: -275px;
    left: -225px;
    z-index: -1;
  }
  .top-left-grid {
    position: absolute;
    top: -350px;
    left: -725px;
    z-index: -1;
  }
  @media screen and (max-width: 650px) {
    .top-right-grid {
      display: none;
    }
  }
  /* @media screen and (min-width: 1441px) {
    ul {
      max-width: 1440px;
    }
    .top-left-grid {
      top: -400px;
      left: 27%;
      opacity: 0.8;
    }
  }
  @media screen and (max-width: 1279px) {
    .top-left-grid {
      top: -700px;
    }
    .top-right-grid {
      top: -250px;
    }
  } */
</style>
