---
import type { CollectionEntry } from "astro:content";
import dayjs from "dayjs";
type Props = {
    snippet: CollectionEntry<'snippets'>;
}

const { 
    snippet: {
        data: {
            title,
            publishedAt,
            tags,
        },
        slug
    }
} = Astro.props;
const date = new Date(publishedAt);

---

<a class="snippet" href={`/snippets/${slug}`}>
    <h2>{title}</h2>
    <p>{date.toLocaleDateString()}</p>
    <ul>
        {tags.map(tag => (
            <li>{tag}</li>
        ))}
    </ul>
</a>

<style>
    .snippet {
        padding: 1rem;
        border: 1px solid #ccc;
        margin-bottom: 1rem;
        flex-shrink: 0;
    }
</style>