---
import type { GetStaticPaths } from "astro";
import { render, getCollection, type CollectionEntry } from "astro:content";
import FullScreenLayout from "@layouts/FullScreenLayout.astro";
import BlogLayout from "@layouts/BlogLayout.astro";
import dayjs from "@lib/extendedDayjs";

export const getStaticPaths = (async () => {
  const snippets = await getCollection("snippets");

  return snippets.map((snippet: CollectionEntry<"snippets">) => ({
    params: {
      id: snippet.id,
    },
    props: {
      snippet,
    },
  }));
}) satisfies GetStaticPaths;

type Props = {
  snippet: CollectionEntry<"snippets">;
};
const { snippet } = Astro.props;
const { Content } = await render(snippet);

const sameUpdatePublishDates =
  dayjs(snippet.data.publishedAt).format("YYYYMMDD") ===
  dayjs(snippet.data.updatedAt).format("YYYYMMDD");
const dateType = sameUpdatePublishDates ? "Published" : "Updated";
const date = dayjs(snippet.data.updatedAt).utc().format("ll");
---

<FullScreenLayout title={snippet.data.title || "Snippets"}>
  <BlogLayout>
    <Content />
    <p class="text-right text-base">{dateType} {date}</p>
  </BlogLayout>
</FullScreenLayout>
