---
import "@styles/blogLayout.css";
const { className, defaultGridColumn } = Astro.props;
// defaultGridColumn: "content" | "popout" | "inset-content" | "full" - default: "content"
---

<div class:list={["blog-layout", className, defaultGridColumn]}>
  <slot />
</div>
